a{
    text-decoration: none;
}
.arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg);
    margin-left: 5px;
}
.firstdiv{
    display: flex;
}
.datetime{
    width: 30%;
    text-align: center;
    height: auto;
    background-color: #EBEBEB;
}
.selecters{
    width: 70%;
    text-align: center;
    height: auto;
    background-color: #EBEBEB;

}
.firstdivpara{
    color: black;
}
.logoimage{
    background-color: #981F4D;
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
}
.seconddiv{
    display: flex;
}
.searchbar{
    background-color: #981F4D;
    width: 50%;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.search{
    border-radius: 5px;
    border-color: white;
    background-color: #A13D62;
    font-size: 15px;
    padding: 5px 0px 5px 5px;
    width: 330px;;
}
::-webkit-input-placeholder{
    color: antiquewhite;
}
.navigationbar{
    width: 100%;
    height: auto;
    background-color: #F8F9FA;
    
}
.navi{
    display: flex;
}
.lihome{
    float: left;
    list-style-type: none;
    font-size: 18px;
    /* font-weight: bold; */
    padding: 0px 20px 10px 20px;
    color: black;
}
.homelink{
    color: black;
}
.navigationbar ul li{
    color: black;
}
.navigationbar ul li:hover{
    border-bottom: 3px solid #981F4D;
    color: #981F4D;
    cursor: pointer;
}
.lihome:hover{
    /* border-bottom: 3px solid #981F4D; */
    color: #981F4D;
    cursor: pointer;
}
.liabout{
    float: left;
    list-style-type: none;
    font-size: 18px;
    /* font-weight: bold; */
    padding: 0px 20px 10px 20px;
    color: black;
   
}
.aboutlink{
    color: black;
}
.aboutdiv{
    width: auto;
    height: auto;
    display: none;
    position: absolute;
    z-index: 2;
    background-color: rgb(231, 236, 237);
    padding: 5px;
    margin-top: 13px;
    box-shadow: 6px 6px 9px -7px black;
    border-radius: 3px;
}
/* .aboutlist{
    list-style-type: none;
    color: black;
    box-shadow: 6px 6px 9px -7px;
    border-radius: 3px;
   
} */
.aboutdrop{
    color: black;
    font-size: 15px;
    padding: 5px 0px 6px 0px;
    text-align: left;
    display: block;

}
.aboutdrop:hover {
    background-color: #981F4D;
    color: white;
    
}
.liabout:hover{
    /* border-bottom: 3px solid #981F4D; */
    color: #981F4D;
    cursor: pointer;
}
.liabout:hover .aboutdiv{
    display: block;
    
}
.liand{
    float: left;
    list-style-type: none;
    font-size: 18px;
    /* font-weight: bold; */
    padding: 0px 20px 10px 20px;
}
.divand{
    width: auto;
    height: auto;
    display: none;
    position: absolute;
    z-index: 2;
    background-color: rgb(231, 236, 237);
    padding: 5px;
    margin-top: 13px;
    box-shadow: 6px 6px 9px -7px black;
    border-radius: 3px;
}
.liand:hover .divand{
    display: block;
}
.liProgrammes{
    float: left;
    list-style-type: none;
    font-size: 18px;
    /* font-weight: bold; */
    padding: 0px 20px 10px 20px;
}
.divprogrammes{
    width: auto;
    height: auto;
    display: none;
    position: absolute;
    z-index: 2;
    background-color: rgb(231, 236, 237);
    padding: 5px;
    margin-top: 13px;
    box-shadow: 6px 6px 9px -7px black;
    border-radius: 3px;
}
.liProgrammes:hover .divprogrammes{
    display: block;
}
.liGallery {
    float: left;
    list-style-type: none;
    font-size: 18px;
    /* font-weight: bold; */
    padding: 0px 20px 10px 20px;
}
.divGallery{
    width: auto;
    height: auto;
    display: none;
    position: absolute;
    z-index: 2;
    background-color: rgb(231, 236, 237);
    padding: 5px;
    margin-top: 13px;
    box-shadow: 6px 6px 9px -7px black;
    border-radius: 3px;
}
.liGallery:hover .divGallery{
    display: block;
}
.liPublication{
    float: left;
    list-style-type: none;
    font-size: 18px;
    /* font-weight: bold; */
    padding: 0px 20px 10px 20px;
}
.divpublication{
    width: 800px;
    height: auto;
    display: flex;
    display: none;
    position: absolute;
    z-index: 2;
    background-color: rgb(231, 236, 237);
    padding: 5px;
    margin-top: 13px;
    box-shadow: 6px 6px 9px -7px black;
    border-radius: 3px;
    margin-left: -400px;
}
.divpublic1{
    width: 30%;
    border-right: 1px solid rgb(176, 175, 175);
}
.divpublic2{
    width: 40%;
    border-right: 1px solid rgb(176, 175, 175);
    padding-left: 25px;
}
.divpublic3{
    width: 30%;
    padding-left: 25px;
}
.publicmain{
    display: flex;
}
.liPublication:hover .divpublication{
    display: block;
}
.liAnnouncement{
    float: left;
    list-style-type: none;
    font-size: 18px;
    /* font-weight: bold; */
    padding: 0px 20px 10px 20px;
}
.divAnnouncement{
    width: auto;
    height: auto;
    display: none;
    position: absolute;
    z-index: 2;
    background-color: rgb(231, 236, 237);
    padding: 5px;
    margin-top: 13px;
    box-shadow: 6px 6px 9px -7px black;
    border-radius: 3px
}
.liAnnouncement:hover .divAnnouncement{
    display: block;
}
.liContacts{
    float: left;
    list-style-type: none;
    font-size: 18px;
    /* font-weight: bold; */
    padding: 0px 20px 10px 20px;
}
.divContacts{
    width: auto;
    height: auto;
    display: none;
    position: absolute;
    z-index: 2;
    background-color: rgb(231, 236, 237);
    padding: 5px;
    margin-top: 13px;
    box-shadow: 6px 6px 9px -7px black;
    border-radius: 3px;
}
.liContacts:hover .divContacts{
    display: block;
}
.posterimg{
    height: auto;
    width: 100%;
    margin-top: 10px;
}
.bigimage{
    width: 100%;
}
.parabutton{
    width: 100%;
    height: auto;
    display: flex;
}
.divbutton{
    width: 20%;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: center;
}
.divparabutton{
    width: 80%;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #981F4D;
}
.btn{
    width: 170px;
    padding: 2px;
    color: white;
    font-size: 15px;
    background-color: #981F4D;
    border: none;
}
.images{
    width: 100%;
    height: auto;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    
}
.h2ncert{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imghead{
    font-size: 15px;
    color: #434343;
}
.pictures{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.columdiv{
    width: 80%;
    height: auto;
    display: flex;
    float: left;
}
.columdiv2{
    width: 80%;
    height: auto;
    display: flex;
    float: left;
    margin-bottom: 50px;
}
.bimagelinkpara{
    margin-top: -15px;
}
.imgdivhead{
    color: white;
    font-size: 20px;
}
.bimagelink{
    color: #434343;
    background-color: white;

}
.sparrow{
    color: #090909;
}
.bimagelink:hover{
    text-decoration: underline;
}
.div1{
    background-size: cover;
    width: 300px;
    height: 170px;
    background-image: url(image/ajmer2.jpg);
    margin: 0px 3px 3px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 0 0 70px #3d3434;
}
.div2{
     background-size: cover;
    width: 300px;
    height: 170px;
    background-image: url(image/bhubneshwar1.jpg);
    margin: 0px 3px 3px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 0 0 70px #3d3434;
}
   

.div3{
    background-size: cover;
    width: 300px;
    height: 170px;
    background-image: url(image/mysore3.jpg);
    margin: 0px 3px 3px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 0 0 70px #3d3434;
}
.div4{
    background-size: cover;
    width: 300px;
    height: 170px;
    background-image: url(image/nie.jpg);
    margin: 0px 3px 3px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 0 0 70px #3d3434;
}
.div5{
    background-size: cover;
    width: 300px;
    height: 170px;
    background-image: url(image/psscive.jpg);
    margin: 0px 3px 3px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 0 0 70px #3d3434;
}
.div6{
    background-size: cover;
    width: 300px;
    height: 170px;
    background-image: url(image/shilong.jpg);
    margin: 0px 3px 3px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 0 0 70px #3d3434;
}
.div7{
    background-size: cover;
    width: 300px;
    height: 170px;;
    background-image: url(image/ajmer2.jpg);
    margin: 0px 3px 3px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 0 0 70px #3d3434;
}
.div8{
    background-size: cover;
    width: 300px;
    height: 170px;
    background-image: url(image/bhubneshwar1.jpg);
    margin: 0px 3px 3px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 0 0 70px #3d3434;
}.iconimage{
    height: 90px;
    width:auto;
    border-radius: 50%;
    box-shadow: 2px 2px 15px 10px white;
}
.iconss{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(197, 201, 201);

}
.icon1{
    width: 90%;
    height: auto;
    display: flex;
    margin-top: 60px;
}
.icon2{
    width: 90%;
    height: auto;
    display: flex;
    margin-bottom: 60px;
}
.icon{
    width: 25%;
    border: 1px solid #ECECEC;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 160px;
}
.icon:hover{
    background-color: #E3ECF3;
}
.scrolldiv{
    width: 100%;
    display: flex;
    margin-top: 60px;
}
.documentdiv{
    width: 40%;
    border: 1px solid rgb(184, 183, 183);
    margin-left: 50px;
    height: 964px;
    overflow: auto;
}
.multiplediv{
    width: 40%;
    margin-left: 50px;
}
.biglink{
    color: rgb(50, 50, 249);
    font-size: 15px;
}
.headlink{
    color: rgb(50, 50, 249);
    margin-right: 10px;
    line-height: 35px;
    
}
.headlist{
    list-style-type: none;
    margin-left: 10px;
}
.biglist{
    border-bottom: 1px solid rgb(231, 227, 227);
    padding-top: 5px;
    padding-bottom: 5px;
}
.Notice{
    border: 1px solid rgb(184, 183, 183);
    height: 340px;
    overflow: auto;
}
.vacancies{
    border: 1px solid rgb(184, 183, 183);
    margin-top: 30px;
    height: 343px;
    overflow: auto;
}
.tenders{
    border: 1px solid rgb(184, 183, 183);
    margin-top: 30px;
}
.listheaddiv{
    margin-left: -40px;
}
.headlink:hover{
    color: #495057;
    margin-right: 10px;
    border: 1px solid #cfd5dc;
    padding: 5px 3px 5px 3px ;
    box-sizing: border-box;
}
.scrolldiv h2{
    font-size: 20px;
    margin-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
.biglink:hover{
    color: #981F4D;
    text-decoration: underline #981F4D;
}
.smallpicdiv{
    /* width: 100%;
    height: auto; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
.smallpicdivs{
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: #EFF6FC
    
}
.smallpic{
    width: 190px;
    margin-right: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
    
}
.picturesdivvvv{
   
    width: 97%;
    margin-left: 25px;
    border-top: 1px solid #e4dfdf;
}
.pichead{
    width: 100%;
    font-family: system-ui;
    color: #434343;
    font-size: 15px;
    padding-left: 25px;
}